*{
    padding: 0;
    margin: 0;
}

.img-nav{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.sobre-mi{
    background-color: aqua;
    padding: 15px;
    background-image: url(../images/img-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
}

.cont-nombre{
    display: flex;
    justify-content: center;
}

.icon-code{
    font-size: 600%;
}

.sobre-mi h1{
    font-size: 70px;
}

.sobre-mi p{
    font-size: 25px;
}

.introduccion{
    padding-left: 150px;
    padding-right: 150px;
}

.proyectos{
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    gap: 25px;
    padding: 25px;    
}

h2{
    padding: 25px;
    font-size: 50px;
}

hr{
    height: 3px;
    color:red;
}